.container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-block: 20px;

    .line {
        width: 100%;
        height: 1px;
        background-color: var(--border-color-transparent);
    }

    .name {
        color: rgba(255, 255, 255, 0.3);
    }
}