.flare-layer {
    position: fixed;
    width: 130vw;
    height: 130vh;
    mix-blend-mode: multiply;
    opacity: 0.2;
    z-index: -1;
    will-change: transform;
}

.fake-carousel {
    position: fixed;
    display: flex;
    gap: 20px;
    top: 50%;
    height: 90vh;
    opacity: 0.7;
    filter: blur(100px);
    z-index: -2;
    will-change: transform;
}

.infos {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50vw;
    min-width: 600px;
    padding-right: 50px;
}

.wrapper {
    will-change: transform;
}

.section {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    flex: 1;

    .section-name {
        writing-mode: sideways-lr;
        color: var(--text-gray01-transparent);
        will-change: transform;
        font-size: 14px;
    }

    .section-content {
        overflow: hidden;
        will-change: transform;
    }
}

.flex-equal {
    display: flex;
    gap: 20px;
    align-items: stretch;
}
  
.flex-equal > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.separator {
    width: 100%;
    height: 0.5px;
    margin-block: 20px;
    background-color: var(--border-color-transparent);
    will-change: width;
}

.title {
    font-family: 'Gothic';
    font-size: 3vw;
}

.button {
    position: relative;
    width: fit-content;
    padding: 15px 25px;
    border: 1px solid white;
    cursor: pointer;
    margin-inline: auto;
    margin-top: 50px;
    overflow: hidden;

    p {
        transition: all 0.3s cubic-bezier(1, 0, .39, .86);
    }

    &:hover  {
        p {
            transform: translateY(-100%);
        }

        .background {
            transform: translateY(0%);
        }

        .arrow {
            border-color: black;
        }
    }

    .arrow {
        position: absolute;
        width: 10px;
        aspect-ratio: 1;
        right: 4px;
        top: 4px;

        border-top: 1px solid white;
        border-right: 1px solid white;
        transition: all 0.3s cubic-bezier(1, 0, .39, .86);
    }

    .background {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        color: black;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        transition: all 0.3s cubic-bezier(1, 0, .39, .86);
        transform: translateY(100%);
    }
}

.back-btn {
    position: absolute;
    bottom: 40px;
    left: 40px;
    height: 21px;
    aspect-ratio: 1;
    cursor: pointer;
    border: 1px solid white;
    padding: 12px;
    z-index: 1;
    overflow: hidden;

    &:hover {
        .back-img {
            transform: translateX(-100%);
            opacity: 0;
        }

        .back-img-2 {
            transform: translate(-50%, -50%);
            opacity: 1;
        }
    }

    .back-img {
        width: 100%;
        transition: all .3s cubic-bezier(1, 0, .39, .86);
    }

    .back-img-2 {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 21px;
        opacity: 0;
        transform: translate(50%, -50%);
        transition: all .3s cubic-bezier(1, 0, .39, .86);
    }
}