.container {
    position: fixed;
    left: 50%;
    bottom: var(--padding);
    transform: translateX(-50%);
    display: flex;
    align-items: end;
    gap: 10px;
}

.line {
    height: 30px;
    width: 0.1px;
    background-color: white;
    transition: opacity 150ms ease;
    will-change: opacity;
}