:host {
    display: block;
    width: 100%;
}

.textarea-wrapper {
    position: relative;
    width: 100%;
    display: flex;
}

.textare-multiline {
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 18px;
    resize: none;
    
    padding: 14px;
    padding-left: 34px;
    padding-right: 20px; // Extra padding for scrollbar
    width: 100%;
    height: 130px;
    overflow-y: auto;
    scroll-padding-bottom: 14px;
    font-family: 'JetBrains-Regular', 'arial';

    // Completely hide default scrollbar
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // IE and Edge

    &::-webkit-scrollbar {
        display: none; // Chrome, Safari, Edge
    }

    &::placeholder {
        color: var(--text-gray01-transparent);
    }
}

.custom-scrollbar {
    position: absolute;
    right: 8px;
    top: 8px;
    bottom: 8px;
    width: 8px;
    background: transparent;
    pointer-events: all;
    z-index: 10;
    cursor: pointer;
    display: block; // Visible by default, hidden by JS if not needed
}

.custom-scrollbar-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: white;
    pointer-events: all;
    cursor: grab;
    border-radius: 100px;
    transition: background 0.2s ease;
    
    &:active {
        cursor: grabbing;
    }
    
    &:hover {
        background: rgba(255, 255, 255, 0.9);
    }
}
