/*
---------------------------------------------
Tablet styles
---------------------------------------------
*/

@media (max-width: 1400px) {
    .el {
        padding: 20px !important;
    }

    .tag {
        padding: 8px !important;
        padding-inline: 13px !important;
    }
}

/*
---------------------------------------------
Desktop styles
---------------------------------------------
*/

.wrapper {
    display: flex;
    padding-bottom: 100px;
}

.three-d-grid {
    width: 100%;
    max-width: calc(100vw - calc(var(--padding) * 2));
    margin-inline: var(--padding);
}

.inline-grid {
    position: absolute;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.el {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: calc(50% - 15px);
    cursor: pointer;
    aspect-ratio: 16/9;
    padding: 30px;
    box-sizing: border-box;
    opacity: 0;
    transition: all 0.5s cubic-bezier(1, 0, .39, .86);
    transition-delay: 0.1s;
    will-change: opacity;

    &:hover {
        .project-title {
            margin-left: calc(1.4vw + 15px);
        }

        .active-arrow-icon {
            transform: translate(-0%, -50%);
            opacity: 1;
        }
    }

    .project-title-container {
        overflow: hidden;
        position: relative;
        font-family: 'Gothic';
        font-size: 2vw;
    }

    .project-title {
        transition: all 0.4s cubic-bezier(1, 0, .39, .86);
        will-change: margin-left;
    }

    .active-arrow-icon {
        position: absolute;
        top: 50%;
        transform: translate(-100%, -50%);
        transition: all 0.4s cubic-bezier(1, 0, .39, .86);
        width: 1.4vw;
        opacity: 0;
        will-change: transform, opacity;
    }

    .tags {
        display: flex;
        gap: 5px;

        .tag {
            background-color: rgba(0, 0, 0, 0.4);
            padding: 9px;
            padding-inline: 13px;
            border-radius: 13px;
        }
    }
}

.el-visible {
    opacity: 1;
}