.container {
    position: fixed;
    width: 100%;
    height: 80px;
    padding-inline: var(--padding);

    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 150;
}

@keyframes appear {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translate(0%);
        opacity: 1;
    }
}

.show {
    nav, .logo-img {
        animation: appear .6s ease-in-out forwards;
    }
}

.logo-img {
    height: 50%;
    cursor: pointer;
    opacity: 0;
    mix-blend-mode: difference;
    animation-delay: .1s;
}

.container nav {
    width: 90px;
    text-align: center;
    opacity: 0;
    mix-blend-mode: difference;
}

.container nav:first-of-type {
    text-align: left;
}