@media (max-width: 550px) {
    .container {
        padding: 0px !important;
    }

    .project {
        aspect-ratio: 1 !important;
        border-radius: 0px !important;
    }
}

.container {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    padding: var(--padding);
    box-sizing: border-box;
}

.project {
    position: relative;
    width: 100%;
    aspect-ratio: 1.5/1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--padding);
    box-sizing: border-box;
    border-radius: 30px;
    overflow: hidden;
}

.project-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    scale: 1.1;
}

.tags {
    display: flex;
    gap: 5px;

    .tag {
        background-color: rgba(0, 0, 0, 0.4);
        padding: 8px;
        padding-inline: 10px;
        border-radius: 8px;
    }
}

.title {
    font-family: 'Gothic';
    font-size: 30px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .arrow-icon {
        height: 25px;
        aspect-ratio: 1;
    }
}

.fader {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 140px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75));
    z-index: -1;
}