:host {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.viewer-container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.gradient {
    position: absolute;
    width: 100vw;
    height: 40px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    bottom: 0;
}