@media (max-width: 850px) {
    .mobile-container {
        display: flex !important;
    }

    .scroll-container {
        display: none !important;
    }
}

.mobile-container {
    height: 900vh;
}