:host {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: perspective(400px);
    z-index: -1;
}

.galaxy {
    width: 100vw;
    aspect-ratio: 1;
    border-radius: 100%;
    filter: blur(100px);
    transform-style: preserve-3d;
    background: radial-gradient(circle, rgba(55, 179, 173, 1) 14%, rgba(7, 31, 150, 1) 70%);
    transform: scaleY(0.25);
    rotate: -10deg;
}