@keyframes subtitle-line-intro {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.intro-animate {
    .hero-subtitle-word {
        animation: subtitle-line-intro 1s cubic-bezier(1, 0, .39, .86);
    }
}

.hero-section {
    height: 550vh;

    .hero-subtitle {
        position: fixed;
        left: 50%;
        bottom: 70px;
        transform: translateX(-50%);
        font-size: 1.5vw;

        display: flex;
        gap: 8px;

        .hero-subtitle-word {
            will-change: transform;
        }
    }

    .hero-text {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5vw;
        flex-wrap: wrap;
        justify-content: center;

        flex-direction: column;
        align-items: center;
        display: flex;
        padding: 4vw;

        mask-image: linear-gradient(-130deg, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 70%);
        mask-repeat: no-repeat;
        mask-size: 200%;
    }

    .bouga {
        will-change: transform;
    }
}

.hero-svg-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    will-change: transform, opacity;
    pointer-events: none;

    .subtitle {
        display: flex;
        justify-content: space-between;
        font-size: 2vw;
        will-change: transform;
    }
}

.projects {
    background-color: black;

    &-header {
        padding-inline: var(--padding);
        display: flex;
        align-items: baseline;
        gap: 1vw;

        &-title {
            font-size: 6.5vw;
        }

        &-counter {
            margin-left: auto;
            font-size: 3.6vw;
        }

        .arrow-icon {
            width: 2.7vw;
        }
    }
}

.star-section {
    position: relative;
    height: 1100vh;
    padding-top: 150px;
    overflow: clip;

    .gradient {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 550px;
        background: linear-gradient(0deg, rgba(1, 14, 24, 0) 0%, rgba(0, 0, 0, 1) 100%);
    }

    .skills-text, .skills-text-2 {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 50vw;
        margin-inline: auto;
        font-size: 2.8vw;
        will-change: transform;
        z-index: 0;
        pointer-events: none;
    }

    .skills-text-2 {
        transform: translate(-50%,-50%);
    }

    .ascii-grid {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -2;
    }
}

.contact-section {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 200vh;
    
    .galaxy-container {
        position: absolute;
        top: 80px;
        width: 100vw;
        height: 100vh;
        background-color: black;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        z-index: 3;
        isolation: isolate;
        overflow: hidden;

        .title {
            font-family: 'Gothic', 'arial';
            font-size: 4vw;
        }

        .arrow-icon {
            width: 30px;
            margin-top: 90px;
        }
    }

    .footer-container {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: black;
        bottom: 0;
        z-index: 2;
        isolation: isolate;
    }
}

.button {
    background-color: white;
    border-radius: 100px;
    color: black;
    width: fit-content;
    cursor: pointer;
    font-family: 'Gothic', 'arial';
    margin: 0 auto;
    transform: translateY(-100%);
    font-size: 18px;

    app-text-hover-slide {
        padding: 20px;
        padding-inline: 24px;
    }
}