:host {
  display: block;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  pointer-events: none;
  visibility: hidden;
  &.star-exposure-visible { visibility: visible; }
}
.star-canvas { width: 100%; height: 100%; }
