.animate {
    .hero-galaxy {
        width: 110% !important;
    }

    .hero-title-letter {
        transform: translateY(0%) !important;
    }
}

.hero {
    position: relative;
    height: 86vh;
    display: flex;
    align-items: center;
}

.hero-galaxy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    transition: width .8s cubic-bezier(0.16, 1, 0.3, 1);
    transition-delay: .1s;
}

.hero-title {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: calc(14.1vw - 10px);
    overflow: hidden;
    will-change: transform;

    .hero-title-letter {
        transform: translateY(100%);
        transition: transform .9s cubic-bezier(0.16, 1, 0.3, 1);
    }
}