/*
---------------------------------------------
Mobile styles
---------------------------------------------
*/

@media (max-width: 850px) {
  :root {
    --padding: 30px !important;
  }
}

/*
---------------------------------------------
Lenis smooth scroll
---------------------------------------------
*/

html.lenis,
html.lenis body {
  height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis [data-lenis-prevent],
.lenis [data-lenis-prevent-wheel],
.lenis [data-lenis-prevent-touch] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}

/*
---------------------------------------------
Fonts
---------------------------------------------
*/

@font-face {
  font-family: 'JetBrains-Regular';
  src: url('/fonts/jetbrains-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Gothic';
  src: url('/fonts/gothic.woff') format('woff');
}

/*
---------------------------------------------
Global styles
---------------------------------------------
*/

body {
  font-family: 'JetBrains-Regular', 'arial';
  background-color: black;
  color: white;
  user-select: none;
  -webkit-user-drag: none;
  margin: 0;
  overflow-x: hidden !important;
  touch-action: manipulation;
  overflow: hidden;
  
  &::-webkit-scrollbar {
    display: none;
  }

  img {
    user-select: none;
    -webkit-user-drag: none;
  }
}

body, html {
  overscroll-behavior: none;
}

p {
  margin: 0;
}

a {
  all: unset;
}

/*
---------------------------------------------
CSS Custom Properties
---------------------------------------------
*/

// COLORS
:root {
  --border-color-transparent: rgba(255, 255, 255, 0.14);
  --border-color-opaque: rgba(45, 45, 45);

  --text-gray01-transparent: rgba(255, 255, 255, 0.3);
  --text-gray01-opaque: rgb(77 77 77);
}

// OTHER
:root {
  --padding: 40px;
}

/*
---------------------------------------------
Custom class
---------------------------------------------
*/

.global-padding {
  padding: var(--padding);
  box-sizing: border-box;
}

/*
---------------------------------------------
Custom fonts
---------------------------------------------
*/

h2 {
  all: unset;
  font-size: 2.9vw;
}

.text-gray-transparent {
  color: var(--text-gray01-transparent);
}

.text-gray-opaque {
  color: var(--text-gray01-opaque);
}

/*
---------------------------------------------
View transitions
---------------------------------------------
*/

@keyframes move-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes move-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@view-transition {
  navigation: auto;
}

/* Disable morph movement on all view transitions */
::view-transition-group(*) {
  animation: none;
}

/* Apply the custom animation to the root page transition */
::view-transition-old(root) {
  animation: move-out .9s ease-in-out both;
}

::view-transition-new(root) {
  animation: move-in .9s ease-in-out both;
  animation-delay: .9s;
}

::view-transition-old(loader) {
  animation: move-out .1s ease-in-out both;
}

::view-transition-new(loader) {
  animation: move-in .1s ease-in-out both;
  animation-delay: .1s;
}