@media (max-width: 850px) {
    .container {
        display: none !important;
    }
}

.container {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 3px;
    background-color: transparent;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s ease;

    &.visible {
        opacity: 1;
    }

    .handle-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 10vh;
        background-color: rgba(255, 255, 255, 0.9);
        will-change: transform;
    }
}
